*.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/misc.xml
gradle.xml
app.iml
git_diff_from.sh
Vinsky.iml
test1.txt
modules.xml
runConfigurations.xml
*.*~
*~
